
.container{
  display: flex;
  justify-content: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 1rem;
  justify-content: center;
  position: relative;
  &.to-coloms{
    grid-template-columns: 1fr 1fr;
  }
}
.card {
  cursor: pointer;
  
  
  &__image {
    width: 100%;    
  }
  &__container_text{
display: flex;
align-items: center;
justify-content: space-between;
  }
  &__title {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #333333;
padding-top: 13px;
  }

  &__description {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    
  }
  &__star {
    color: #333333;
    margin-left: 100px;
  }
  
}


 
 @media (max-width: 993px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    &.to-coloms{
      grid-template-columns:1fr 1fr;;
    }
  }
  }
  @media (max-width: 768px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1.5rem;
      &.to-coloms{
        grid-template-columns:repeat(1,1fr);
      }
    }
    }
    @media (max-width: 393px) {
      .container{
        display: block;
      }
      .wrapper {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
        &.to-coloms{
          grid-template-columns:repeat(1,1fr);
        }
      }
    }